<launch>
    <arg name="cam_topic" value="/cam_phone/image_rect" />
    <arg name="imu_topic" value="/imu" />

    <arg name="settings_filepath" value="$(find hl_orbslam3_wrapper)/cfg/arche-orbslam.yaml" />

    <arg name="rosbag_path" default="" />
    <arg name="viz" default="false" />

    <!-- Always use sim time -->
    <param name="use_sim_time" value="true" />

    <!-- Downsample and crop image -->
    <node pkg="nodelet" type="nodelet" name="image_crop_decimate"
        args="standalone image_proc/crop_decimate standalone_nodelet">

        <remap from="camera/image_raw" to="/cam_phone/image_rect" />
        <remap from="camera/camera_info" to="/cam_phone/camera_info" />

        <remap from="camera_out/image_raw" to="/cam_phone_down/image_rect" />
        <remap from="camera_out/camera_info" to="/cam_phone_down/camera_info" />

        <param name="decimation_x" type="int" value="3" />
        <param name="decimation_y" type="int" value="3" />
        <param name="x_offset" type="int" value="0" />
        <param name="y_offset" type="int" value="0" />
        <param name="width" type="int" value="1440" />
        <param name="height" type="int" value="1920" />
    </node>

    <node name="orb_slam3_mono_inertial" pkg="orb_slam3_ros_wrapper" required="True"
        type="orb_slam3_ros_wrapper_mono_inertial" output="screen" ns="/">
        <!-- Input topics -->
        <remap from="/camera/image_raw" to="/cam_phone_down/image_rect" />
        <remap from="/imu" to="$(arg imu_topic)" />

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file" type="string" value="$(find orb_slam3_ros_wrapper)/config/ORBvoc.txt" />
        <param name="settings_file" type="string" value="$(arg settings_filepath)" />

        <!-- Parameters for ROS -->
        <param name="world_frame_id" type="string" value="world" />
        <param name="cam_frame_id" type="string" value="cam1_orbslam" />
        <param name="enable_pangolin" type="bool" value="$(arg viz)" />
        <param name="traj_save_file" type="string" value="/user/orbslam3_traj.tum" />

        <!-- World frame orientation -->
        <param name="world_roll" type="double" value="0.0" />
        <param name="world_pitch" type="double" value="1.57079632679" />
        <param name="world_yaw" type="double" value="0.0" />
    </node>

    <!-- Purely for visualization -->
    <group if="$(arg viz)">
        <node pkg="hector_trajectory_server" type="hector_trajectory_server"
            name="trajectory_server_orb_slam3" output="screen" ns="/orb_slam3_ros">
            <param name="/target_frame_name" value="/world" />
            <param name="/source_frame_name" value="/cam1_orbslam" />
            <param name="/trajectory_update_rate" value="15.0" />
            <param name="/trajectory_publish_rate" value="15.0" />
        </node>
    </group>

    <!-- Play rosbag -->
    <group if="$(eval arg('rosbag_path') != '')">
        <node pkg="rosbag" type="play" name="rosbag_player"
            args="--clock $(arg rosbag_path) --delay 5" required="True" />
    </group>

</launch>
