<launch>
    <arg name="rosbag_path" default="/mnt/ssd_2T/tianyi_data/lspgo-cvpr/spot-hydro-10-53-clean.bag" />
    <arg name="viz" default="false" />

    <arg name="config_path"
        default="$(find hl_orbslam3_wrapper)/cfg/vins-fusion/hydro-vins-mono.yaml" />
    <node name="vins_node" pkg="vins" type="vins_node" output="screen" args="$(arg config_path)"
        required="True" />

    <!-- Play rosbag -->
    <group if="$(eval arg('rosbag_path') != '')">
        <node pkg="rosbag" type="play" name="rosbag_player"
            args="--clock $(arg rosbag_path) --delay 1 --start 15" required="True" />
    </group>
</launch>