<launch>
    <arg name="left_cam_topic" value="/camera_left/image_raw" />
    <arg name="right_cam_topic" value="/camera_right/image_raw" />

    <arg name="settings_filepath" value="$(find hl_orbslam3_wrapper)/cfg/vbr-orbslam-stereo.yaml" />
    <arg name="traj_save_file" default="/user/orbslam3_traj.tum" />
    <arg name="time_save_file" default="/user/orbslam3_time.txt" />

    <arg name="rosbag_path" />
    <arg name="viz" default="false" />

    <node name="orb_slam3_ros_wrapper_stereo_replay" pkg="orb_slam3_ros_wrapper" required="True"
        type="orb_slam3_ros_wrapper_stereo_replay" output="screen" ns="/">
        <!-- Input topics -->
        <param name="left_cam_topic" value="$(arg left_cam_topic)" />
        <param name="right_cam_topic" value="$(arg right_cam_topic)" />
        <param name="rosbag_path" value="$(arg rosbag_path)" />

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file" type="string" value="$(find orb_slam3_ros_wrapper)/config/ORBvoc.txt" />
        <param name="settings_file" type="string" value="$(arg settings_filepath)" />

        <!-- Parameters for ROS -->
        <param name="world_frame_id" type="string" value="world" />
        <param name="cam_frame_id" type="string" value="cam1_orbslam" />
        <param name="enable_pangolin" type="bool" value="$(arg viz)" />
        <param name="traj_save_file" type="string" value="$(arg traj_save_file)" />
        <param name="time_save_file" type="string" value="$(arg time_save_file)" />

        <!-- World frame orientation -->
        <param name="world_roll" type="double" value="0.0" />
        <param name="world_pitch" type="double" value="0.0" />
        <param name="world_yaw" type="double" value="0.0" />
    </node>

</launch>
